#Exports:
export("CalcAgeingRateMort", "CalcAgeMaxFert", "CalcAveDemo", "CalcDemo", 
       "CalcFert", "CalcLifeTable", "CalcMort", 
       "CalcRemainLifeExp", "CalcSurv", "CalcSurvProbs", "plot.paramDemoLT", 
       "plot.paramDemo", "SampleRandAge", 
       "CalcProductLimitEst", "plot.paramDemoPLE", "SimulateStudy")

# Import package snowfall
importFrom("grDevices", "adjustcolor", "rainbow")
importFrom("graphics", "axis", "layout", "legend", "lines", "mtext",
             "par", "plot", "polygon", "text", "Axis")
importFrom("stats", "as.formula", "cor", "density", "dnorm",
             "model.matrix", "pnorm", "qnorm", "quantile", 
             "rnorm", "runif", "sd", "terms", "var", "dgamma", "pgamma",
           "rgamma", "qgamma", "dbeta", "rbeta", "pbeta", "qbeta", "optim")
importFrom("utils", "packageDescription")

#S3 methods:
S3method("plot", "paramDemo")
S3method("plot", "paramDemoLT")
S3method("plot", "paramDemoPLE")
