#Exports:
export("CalcAgeingRateMort", "CalcAgeMaxFert", "CalcAveDemo", "CalcDemo", 
       "CalcFert", "CalcLifeTable", "CalcLifeTableCIs", "CalcMort", 
       "CalcRemainLifeExp", "CalcSurv", "CalcSurvProbs", "plot.paramDemoLT", 
       "plot.paramDemoLTCIs", "plot.paramDemo", "SampleRandAge", 
       "CalcProductLimitEst", "CalcProductLimitEstCIs", 
       "plot.paramDemoPLE", "plot.paramDemoPLECIs", "SimulateStudy",
       ".DefineMortMatrix", ".DefineMortNumeric", ".DefineCumHazMatrix",
       ".DefineCumHazNumeric", ".DefineFertilityMatrix", 
       ".DefineFertilityNumeric")

#S3 methods:
S3method("plot", "paramDemoLT")
S3method("plot", "paramDemoLTCIs")
S3method("plot", "paramDemo")
S3method("plot", "paramDemoPLE")
S3method("plot", "paramDemoPLECIs")
